@charset "UTF-8";
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
html,
input,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

ul,
li,
a {
  text-decoration: none;
  list-style: none; }

.header {
  background-image: url("https://s3-alpha-sig.figma.com/img/7b79/594b/db290b4bfd0493d5df9df933353f5978?Expires=1578873600&Signature=TaG6R9CIFbP1-tDyu7bA6IiIwG8OBLdbDZOJR8wCkG6ijsQelxf0n4XizM9X81CLhzcOwLHdc1GcCl9fbQ57phPdyvbpPlvEAt~aYDbTtuMIhn2wPzMtw~H7egT9qjPnZqMSYY1Xcoii7C-otsGL9VUWgueOysGyqqRswZHpFdUPHRhiL6DqnYcD5kicLgAnJq2uzg7TQfYKz8Q1pX4hSY24jybWfb-Nn-~wBOrLZ3J1mlZ~mIrcfpcIZ-kU0rXrlyJ7yfvuaDC~zQj5xEqj3VOYNFjkJSLb9y2oRZS4Ji6Q1MsOxBoFkzPspqNMVSiv5dg5VgTillB0xxI~EHgp-Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-position: center;
  height: 700px;
  color: white;
  font-weight: bold;
  padding: 24px 0; }
  .header__wrapper {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    max-width: 1000px;
    /*Что бы покрасивее отступы были */ }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    width: 115px;
    height: 76px;
    background-size: cover;
    background-image: url("https://s3-alpha-sig.figma.com/img/6ad8/1f1a/ae216590271f2f94867beea7643700c6?Expires=1578873600&Signature=G48ia3ekfNkl-ugdkXiWiP4QYkHUDDChQxG7N9RmvmSf3mzxHpRT7b-Kcnd73t0mzeBLirCIPpEiTkRAmum3foM9-24oo-iYv6NvpfIq5y2KUyEprAoRqcA2HI-wriiVNEduyWxk6Z14frSTcPMGFJVvriXXVKI6tAkqvXfzA1~YCI8zV11RgV0vOe2vX717gOcJmlqgoiFA81cAtztDv~628DIWmSQ09veqKZVIBFEo-0IHEN-9hWbPEsy66n2yLQzJRYiJ5LqIJ3t2KR~ahlrUaIpgZtWmgD4itr84wIFWpzNBbQ-08g3kkKwZqGJZtIeJ4mgLWyp6mG8KH6jLZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"); }
  .header__link::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    top: 8px;
    background-color: white; }
  .header__title {
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1.5px;
    font-size: 60px;
    max-width: 328px; }
    .header__title::before {
      content: "";
      display: block;
      width: 35px;
      height: 2px;
      background-color: white; }

.header a {
  color: white; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__item {
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px; }

.nav__item:hover a {
  color: #9fadc2; }

.nav--active {
  background: rgba(255, 255, 255, 0.1); }

.aboutUs {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(200px, 600px));
  margin: auto;
  margin-top: 104px; }
  .aboutUs__text, .aboutUs__title {
    max-width: 500px; }
  .aboutUs__title {
    font-size: 48px;
    letter-spacing: -1.5px;
    font-weight: bold;
    width: 328px;
    justify-self: flex-start; }
  .aboutUs__text-passage {
    font-size: 16px;
    line-height: 27px; }

.gallery {
  margin: auto;
  margin-top: 150px; }
  .gallery__button {
    width: 188px;
    height: 56px;
    border: 2px solid #0075ff;
    border-radius: 8px;
    margin: auto;
    margin-top: 40px; }
    .gallery__button:hover {
      background-color: #0075ff; }
  .gallery__button-link-view-all {
    display: block;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 56px; }
    .gallery__button-link-view-all:hover {
      color: white; }

.row {
  margin-top: 40px; }
  .row__block {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-gap: 20px; }
  .row__block--2-1 {
    grid-template-columns: 2fr 1fr; }
  .row__block--1-1 {
    grid-template-columns: 1fr 1fr; }
  .row__block--1-2 {
    grid-template-columns: 1fr 2fr; }
  .row__item {
    width: 100%;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 256px; }
  .row__block-description {
    margin-top: 24px; }
  .row__block-description-link {
    font-weight: bold; }

.consultation {
  margin: auto; }
  .consultation__title {
    margin-top: 152px; }
  .consultation__block {
    display: grid;
    grid-gap: 65px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: repeat(2, minmax(200px, 600px));
    margin: auto;
    margin-top: 104px; }
  .consultation__text-title {
    max-width: 240px; }
  .consultation__text-main-text {
    line-height: 27px;
    max-width: 412px; }
  .consultation__form-input {
    width: 100%;
    max-width: 413px;
    height: 48px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #f7f8ff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    outline: none;
    padding-left: 17px;
    font-size: 14px; }
  .consultation__form-button {
    width: 100%;
    max-width: 413px;
    height: 56px;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    margin-top: 32px; }
  .consultation__form-link {
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 56px;
    color: #fff; }

body {
  background-color: #f2f2f2;
  color: #3e3e3e; }

.blue {
  color: #0075ff; }

.black {
  color: black; }

.body-section {
  max-width: 1000px;
  padding: 0 40px; }

.h1__title {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -1.5px;
  text-align: center;
  position: relative; }
  .h1__title::after {
    /* Изменить потом цвет*/
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 16px;
    background-size: cover;
    background-image: url("../images/favicon.png");
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    left: calc(50% - 10px);
    bottom: -8px; }

.h2-title-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
